<div id="bottom-signin">
  <% if (agent.isMobile && title != 'Profile'){ %>
  <div id="GoogleSignInButton"></div>
  <% } %>
</div>

<!-- <footer style="width: 100%; text-align: center">Copyright &copy; Blood Sugar Alert 2021</footer> -->
