<div
  class="g_id_signin"
  data-size="medium"
  data-type="standard"
  data-shape="pill"
  data-theme="filled_blue"
  data-text="continue_with"
  data-size="medium"
  data-logo_alignment="left"
></div>
