<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/header.ejs") %>
  </head>

  <body>
    <h1>Page Not Found</h1>
    <h2><a href="/">Return to home</a></h2>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
