<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/header.ejs") %>
  </head>
  <body>
    <div class="container-md">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quod obcaecati autem qui fugit amet id
      temporibus asperiores nesciunt deserunt, nostrum laudantium reprehenderit? Ea laborum molestias earum. Eaque,
      nostrum impedit.
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
