<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("./partials/header.ejs") %>


        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-signin-client_id"
            content="931638414558-j7n73fhlap5mo2euigehbuguo40vka0j.apps.googleusercontent.com">

        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

</head>

<body>

    <div class="g-signin2" data-onsuccess="onSignIn"></div>

    <script>
        function onSignIn(googleUser) {
            var id_token = googleUser.getAuthResponse().id_token;

            fetch("/login", {
                method: "POST",
                headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json",
                    "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                },
                body: JSON.stringify({ id_token }),
            }).then((res) => {
                if (res.redirected == true) {
                    location.assign(res.url)
                }
            }).catch((err) => console.log(err));
        }
    </script>

</body>
<%- include("./partials/footer.ejs") %>


</html>