<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/header.ejs") %>
  </head>
  <body>
    <!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script>
      window.onload = function () {
        google.accounts.id.initialize({
          client_id: "<%= OAUTH_CLIENT_ID %>",
          callback: onSignIn,
        });
        google.accounts.id.renderButton(
          document.getElementById("signInButton"),
          { theme: "outline", size: "large" } // customization attributes
        );
        google.accounts.id.prompt(); // also display the One Tap dialog
      };
    </script>
    <script>
      function onSignIn(response) {
        var id_token = response.credential;

        fetch("/login", {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ id_token }),
        })
          .then((res) => {
            if (res.redirected == true) {
              location.assign(res.url);
            }
          })
          .catch((err) => console.log(err));
      }
    </script>

    <div class="header">
      <h1>Diabetic Alert System</h1>
    </div>
    <div class="container">
      <div class="problem">
        <h2>The Problem</h2>
        <p>
          For diabetics, maintaining stable blood sugar levels is critical to their health and well-being. However, it
          can be difficult to constantly monitor blood sugar and take appropriate action when levels are out of range.
          Additionally, false alarms can be frustrating for both the diabetic and their emergency contact, leading to a
          lack of trust in the alert system.
        </p>
      </div>
      <div class="solution">
        <h2>Our Solution</h2>
        <p>
          Our application is designed to offer diabetics the option of having an emergency contact alerted when their
          blood sugar is out of range, without the need for constant false positives. When blood sugar is detected as
          out of range, we will first check with the diabetic and only alert the emergency contact if there is no
          response. This allows for peace of mind and trust in the alert system, while still ensuring that necessary
          action is taken when needed.
        </p>
      </div>
    </div>
  </body>
  <button id="signInButton"></button>
  <%- include("./partials/footer.ejs") %>
</html>
