body {
  margin-top: 30px; /* Add a top margin to avoid content overlay from navbar*/
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  /* height: 100vh; */
}

.header {
  background-color: #4285f4;
  color: white;
  text-align: center;
  padding: 30px;
  margin-bottom: 5%;
}

.header h1 {
  font-size: 36px;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.problem {
  width: 45%;
}

.problem h2 {
  font-size: 24px;
  margin: 0;
}

.problem p {
  font-size: 18px;
  line-height: 1.5;
}

.solution {
  width: 45%;
}

.solution h2 {
  font-size: 24px;
  margin: 0;
}

.solution p {
  font-size: 18px;
  line-height: 1.5;
}

#bottom-signin {
  z-index: 100;
  position: fixed;
  bottom: 30px;
  right: 10px;
}

footer {
  position: fixed;
  bottom: 10px;
}
